main{
    padding: 40px 0;
    width: 500px;
    margin: 0 auto;
    input{
        padding: 5px;
        font-size: 18px;
        width: 100%;
        box-sizing: border-box;
    }
    ul{
        cursor: pointer;
        max-height: 250px;
        width: 100%;
        padding: 0;
        margin: 5px 0;
        list-style-type: none;
    }
    .scroll{
        overflow-y: scroll;
    }
    li{
        padding: 3px;
        margin-top: 3px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    }
    .repo-card{
        margin-top: 3px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        padding: 5px 10px;
        .watch-repo{
            margin-left: 10px;
        }
        .descr-repo{
            margin-top: 5px;
            opacity: .7;
            font-size: 14px;
        }
        .bold{
            font-weight: 500;
        }
    }
}

