nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(210, 208, 208);
    padding: 0 40px;
    a{
        margin-left: 10px;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
    }
}